.loginForm {
    width: 323px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.formLabel {
    padding: 12px 18px;
    border-radius: 20px;
    border: 1px solid $light-gray;
}

.form > button {
    padding: 12px 18px;
    border-radius: 20px;
    border: none;
    background-color: $green;
    color: $white;
    margin-top: 26px;
}

.form > a {
    text-align: center;
    color: $gray;
}

.error > p {
    color: $red;
}