$black: #1D1E21;
$gray: rgba($black, 0.4);
$light-gray: rgba($black, 0.1);
$white: #FFF;

$green: #59B17A;
$light-green: #E7F1ED;
$green2: #3F945F;

$red: #E85050;
$violet: #8059E4;
$orange: #F79042;
$blue: #70A6E8;

$background: #F7F8FA;




