$black: #1D1E21;
$transparent-black: rgba($black, 0.1);

$white: #FFFFFF;

$green: #59B17A;
$transparent-green: rgba($green, 0.1);
$green2: #3F945F;

$red: #E85050;
$transparent-red: rgba($red, 0.1);

$violet: #8059E4;
$orange: #F79042;
$blue: #70A6E8;

$gray-text: #DCDDDF;
$light-gray: #F9F9F9;

$background: #F7F8FA;
$background2: #E7F1ED;




