.large {
    width: 1280px;
}

.small {
    width: 630px;
}

.title {
    background-color: $background2;
    padding: 20px;
    border: 1px solid $background2;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.title > h1 {
    @include font(18, 24);
}

.content {
    height: 350px;
    background-color: $white;
    border-left: 1px solid $transparent-black;
    border-right: 1px solid $transparent-black;
    border-bottom: 1px solid $transparent-black;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}