.Container {
    width: 240px;
    height: 108px;
    border-radius: 10px;
    border: 1px solid rgb(182, 182, 182);
    display: flex;
    justify-content: flex-start;
    padding: 14px;
    box-sizing: border-box;
}

.Container section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Container p {
    margin: 0;
}

.Title {
    font-size: 12px;
    color: grey;
}

.Count {
    font-size: 24px;
    font-weight: bold;
}